<main id="body-container">
    <button id="catalog">Products Catalog</button>
    <button id="edit_catalog">Edit Products Catalog</button>
</main>
<script src="/static/js/show-products-catalog.js"></script>