@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Fjalla+One&family=Inter:wght@300;500&family=Montserrat:wght@700&family=Quicksand:wght@300;500;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');


* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #FEFAE0;
}

header {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;

}

header h1 {
    color: rgb(85, 49, 3);
    line-height: 10px;
    font-size: 5rem;
}

#img1 {
    height: 140px;
    width: 210px;
}

#body-container {
    margin-top: 50px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 100px;


}

#body-container button {
    height: 80px;
    width: 350px;
    font-size: 3rem;
    background-color: #CCD5AE;
    color: rgb(139, 43, 43);
    border: 0;
box-shadow: 0 4px 2px -2px gray;

}

#catalog-container{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
    justify-content: center;

}
#catalog-container a{
    margin-top: 6px;
    display: inline-block;
    text-align: center;
    width: 150px;
    text-decoration: none;
    color: rgb(139, 43, 43);
    font-size: 1.5rem;
    box-shadow: 2px 2px 5px 0.5px rgba(38, 33, 21, 0.2);
    border: 1px dotted rgb(139, 43, 43);
}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
  text-align: center;
}

.grid .text h3 {
  font-size: 1.4rem;
  font-family: 'Fredoka One', cursive;
}

.grid .text p {
  font-size: 0.9rem;
}

.grid .text p a {
  text-decoration: none;
  font-weight: bold;
  color: #555;
  font-family: 'Courgette', cursive;
}

.grid a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding-top: 8px;   
    font-size: 1.6rem;
    height: 40px;
    width: 260px;
}





#card-item {
    display: flex;
    flex-flow: column wrap;
    width: 200px;
    height: 220px;
    border: 1px solid black;
}

#card-item img {
    width: 100%;
    height: 120px;

}

#card-item #metadata {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
}

#metadata #name {
    margin-left: 5px;
    color: rgb(139, 43, 43);
    font-size: 1.4rem;
    padding-top: 8px;
}

#metadata #id {
    display: inline-block;
    padding-top: 10px;
    width: 25px;
    height: 10px;
    gap: 20px;
    color: black;
    font-size: 1rem;
    text-align: center;

}

#card-item #actions {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
}

#card-item #actions #addcart {
        height: 30px;
        width: 100px;
        margin-left: 5px;
        font-size: 1rem;
        background-color: #CCD5AE;
        color: rgb(139, 43, 43);
        border: 0;
        box-shadow: 0 4px 2px -2px gray;
}

#card-item #actions #stock {
    padding-top: 10px;
    font-size: 0.8rem;
    margin-left: 20px;

}

#myForm {
    padding: 15px;
    height: 480px;
    width: 50vw;
    border: 2px dotted rgb(139, 43, 43);
    margin: 0 auto;
}

#myForm #submit {
    height: 50px;
    width: 150px;
    font-size: 1.6rem;
    margin-top: 20px;
    margin-left: 250px;
    background-color: #CCD5AE;
    color: rgb(139, 43, 43);
    border: 0;
    box-shadow: 0 4px 2px -2px gray;

}

#icon-edit {
    background-image: url('/static/media/edit.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 10px;
    height: 10px;

}

.btn {
    display: inline-flex;
    height: 14px;
    width: 10px;
    padding: 0;
    border: none;
    outline: none;
    overflow: hidden;
    font-family: 'Quicksand' sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}

#catalog-container #add_products{
    margin-bottom: 20px;
    height: 30px;
    background-color: #FEFAE0;
    width: 150px;
    border: 1px dotted rgb(139, 43, 43);
    color: rgb(139, 43, 43);
    font-size: 1.5rem;
    box-shadow: 2px 2px 5px 0.5px rgba(38, 33, 21, 0.2);
    border: 1px dotted rgb(139, 43, 43);
}



#edit_form {
    display: none;
    padding: 15px;
    height: 500px;
    width: 50vw;
    border: 2px dotted rgb(139, 43, 43);
    margin: 0 auto;
}

#edit_form #submit-edit {
    height: 30px;
    width: 150px;
    font-size: 1.6rem;
    margin-top: 20px;
    margin-left: 250px;
    background-color: #CCD5AE;
    color: rgb(139, 43, 43);
    border: 0;
    box-shadow: 0 4px 2px -2px gray;
}
